/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* reset styles */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* BODY */

body{
    background-color: var(--Purple-100);
    background-image: url(assets/images/background-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

main{
    max-width: 300px;
    background-color: white;
    border-radius: 10px;
    /* max-height: 80vh; */
    padding: 5%;
    overflow-wrap: break-word;

}

.faq-title{
    display: flex;

}

h1{
    color: var(--Purple-950);
    padding: 5%;
     
}


.question-header{
    display: flex;
    justify-content: space-between;
    padding: 5% 0;
}

h2{
    color: var(--Purple-950);
    font-size: 1.25rem;
}

h2:active, h2:hover{
    color: var(--Purple-600);
}

.question-block{
    border-bottom: 1px solid #e5e5e5;
    padding: 5% 0;
}

.answer{
    color: #7b7a7a;
}

/* variables */
:root{
--White: hsl(0, 100%, 100%);
--Purple-100: hsl(275, 100%, 97%);
--Purple-600: hsl(292, 16%, 49%);
--Purple-950: hsl(292, 42%, 14%);
}

.work-sans-700{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.work-sans-600{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.work-sans-400{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@media screen and (min-width: 1440px){

    body{
        background-position: top center;
        background-image: url(assets/images/background-pattern-desktop.svg);

    }
    main{
        position: relative;
        max-width: 1440px;
        display: block;
        width: 50rem;
        height: 90vh;
        
    }


}